<template>
  <div ref="container" class="demo-container">
    <canvas ref="graph" :width="600" :height="200" />
  </div>
</template>

<script>
export default {
  name: "CustomNodeOptions",
  mounted() {
    const { width, height } = this.$refs.container.getBoundingClientRect();
    this.$refs.graph.width = width;
    this.$refs.graph.height = height;
    // instantiate the graph in the html canvas
    const graph = new this.$rune.Graph();
    const canvas = new this.$rune.Canvas(this.$refs.graph, graph);
    // define the nodes and edges data
    const data = {
      nodes: [
        {
          id: "node-0",
          type: "basic/random-number",
          options: {
            shape: this.$rune.shapes.BULGE_SHAPE,
            point_size: 40,
            node_bulge: 1
          }
        },
        {
          id: "node-1",
          type: "basic/output",
          options: {
            render_title_label: false
          }
        }
      ],
      edges: [
        { source: "node-0", target: "node-1" }
      ]
    };
    graph.populateFromNodesAndEdges(data);
    let layout = this.$rune.layouts.getDagreLayout(data);
    layout = this.$rune.layouts.centerLayout(layout, width, height);
    this.$rune.layouts.applyLayout(graph.getNodes(), layout);
  }
}
</script>
