<template>
  <div ref="container" class="demo-container">
    <canvas ref="graph" :width="600" :height="200" />
  </div>
</template>

<script>
export default {
  name: "DarkTheme",
  mounted() {
    const { width, height } = this.$refs.container.getBoundingClientRect();
    this.$refs.graph.width = width;
    this.$refs.graph.height = height;
    // instantiate the graph in the html canvas
    const graph = new this.$rune.Graph();
    const canvas = new this.$rune.Canvas(this.$refs.graph, graph, { color_mode: "dark" });
    // define the nodes and edges data
    const data = {
      nodes: [
        { id: "node-0", type: "basic/input-number" },
        { id: "node-1", type: "basic/output" }
      ],
      edges: [
        { source: "node-0", target: "node-1" }
      ]
    };
    graph.populateFromNodesAndEdges(data);
    let layout = this.$rune.layouts.getDagreLayout(data);
    layout = this.$rune.layouts.centerLayout(layout, width, height);
    this.$rune.layouts.applyLayout(graph.getNodes(), layout);
  }
}
</script>
