<template>
  <div ref="container" class="demo-container">
    <canvas ref="graph" :width="600" :height="400" />
  </div>
</template>

<script>
export default {
  name: "NodeColors",
  mounted() {
    const { width, height } = this.$refs.container.getBoundingClientRect();
    this.$refs.graph.width = width;
    this.$refs.graph.height = height;
    // instantiate the graph in the html canvas
    const graph = new this.$rune.Graph();
    const canvas = new this.$rune.Canvas(this.$refs.graph, graph, {
      read_only: true,
      show_contextual_menu: false,
      allow_searchbox: false,
      render_slots: false,
      render_shadows: false,
      allow_link_interaction: false,
      title_mode: this.$rune.enums.TRANSPARENT_TITLE,
      point_size: 32,
      node_bulge: 0.6,
      snap_grid: {
        enabled: false,
      },
    });
    // define the nodes and edges data
    let nodes = [];
    let globalId = 0;
    for (let i = 0; i < 8; i++) {
      const nodesLine = [];
      for (let j = 0; j < 3; j++) {
        nodesLine.push({
          id: `node-${globalId}`,
          type: "basic/random-number",
          options: {
            shape: this.$rune.shapes.BULGE_SHAPE,
            bgcolor: `hsl(${45 * i}, ${10 + j * 30}%, 50%)`,
          }
        });
        globalId++;
      }
      nodesLine.push({
        id: `node-${globalId}`,
        type: "basic/random-number",
        options: {
          shape: this.$rune.shapes.BULGE_SHAPE,
          bgcolor: `hsl(${45 * i}, 100%, 50%)`,
        }
      });
      globalId++;
      for (let j = 0; j < 3; j++) {
        nodesLine.push({
          id: `node-${globalId}`,
          type: "basic/random-number",
          options: {
            shape: this.$rune.shapes.BULGE_SHAPE,
            bgcolor: `hsl(${45 * i}, 100%, ${50 - j * 15}%)`,
          }
        });
        globalId++;
      }
      nodes = nodes.concat(nodesLine);
    }
    const data = {
      nodes,
      edges: []
    };
    graph.populateFromNodesAndEdges(data);
    let layout = this.$rune.layouts.getGridLayout(data, width, height, {
      marginx: 0,
      marginy: 8,
      nodesep: 42,
      ranksep: 48,
      ncols: 7,
    });
    layout = this.$rune.layouts.centerLayout(layout, width, height);
    this.$rune.layouts.applyLayout(graph.getNodes(), layout);
  }
}
</script>
