<template>
  <div ref="container" class="demo-container">
    <canvas ref="graph" :width="600" :height="200" />
  </div>
</template>

<script>
export default {
  name: "NodeShapesBulge",
  mounted() {
    const { width, height } = this.$refs.container.getBoundingClientRect();
    this.$refs.graph.width = width;
    this.$refs.graph.height = height;
    // instantiate the graph in the html canvas
    const graph = new this.$rune.Graph();
    const canvas = new this.$rune.Canvas(this.$refs.graph, graph, {
      render_slots: false,
      allow_link_interaction: false,
    });
    // define the nodes and edges data
    const data = {
      nodes: [
        {
          id: "node-0",
          type: "basic/random-number",
          options: {
            title: "bulge = 0",
            shape: this.$rune.shapes.BULGE_SHAPE,
            point_size: 60,
            node_bulge: 0
          }
        },
        {
          id: "node-1",
          type: "basic/random-number",
          options: {
            title: "bulge = 0.25",
            shape: this.$rune.shapes.BULGE_SHAPE,
            point_size: 60,
            node_bulge: 0.25
          }
        },
        {
          id: "node-2",
          type: "basic/random-number",
          options: {
            title: "bulge = 0.5",
            shape: this.$rune.shapes.BULGE_SHAPE,
            point_size: 60,
            node_bulge: 0.5
          }
        },
        {
          id: "node-3",
          type: "basic/random-number",
          options: {
            title: "bulge = 0.75",
            shape: this.$rune.shapes.BULGE_SHAPE,
            point_size: 60,
            node_bulge: 0.75
          }
        },
        {
          id: "node-4",
          type: "basic/random-number",
          options: {
            title: "bulge = 1",
            shape: this.$rune.shapes.BULGE_SHAPE,
            point_size: 60,
            node_bulge: 1
          }
        },
      ],
      edges: []
    };
    graph.populateFromNodesAndEdges(data);
    let layout = this.$rune.layouts.getGridLayout(data, width, height);
    layout = this.$rune.layouts.centerLayout(layout, width, height);
    this.$rune.layouts.applyLayout(graph.getNodes(), layout);
  }
}
</script>
