.rgraphcanvas {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  outline: none;
}

.rgraphcanvas-toolbar {
  position: absolute;
  padding: 8px;
  border-radius: 2px;
  display: flex;
}

.rgraphcanvas-toolbar-horizontal .rgraphcanvas-toolbar-button:not(:last-child)  {
  margin-right: 8px;
}
.rgraphcanvas-toolbar-vertical {
  flex-direction: column;
}
.rgraphcanvas-toolbar-vertical .rgraphcanvas-toolbar-button:not(:last-child)  {
  margin-bottom: 8px;
}

.rgraphcanvas-toolbar-button {
  width: 16px;
  height: 16px;
  opacity: 0.5;
  cursor: pointer;
}
.rgraphcanvas-toolbar-button:hover {
  opacity: 1;
  filter: brightness(110%);
}

.runegraph.runecontextmenu {
  font-family: Avenir, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: fixed;
  top: 100px;
  left: 100px;
  min-width: 100px;
  padding: 0.25em;
  z-index: 10;
  font-size: 0.85em;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.5) !important;
}

.runegraph.runecontextmenu.runecontextmenu-light {
  color: #222;
  background-color: #ececec !important;
}

.runegraph.runecontextmenu.runecontextmenu-dark {
  color: #dbdbdb;
  background-color: #2e2e2e !important;
}

.runegraph.runecontextmenu .runemenu-title img {
  margin-top: 2px;
  margin-left: 2px;
  margin-right: 4px;
}

.runegraph.runecontextmenu .runemenu-entry {
  margin: 2px;
  padding: 2px;
}

.runegraph .runemenubar ul {
  margin: 0;
  padding: 0;
}

.runegraph .runemenubar li {
  font-size: 14px;
  color: #999;
  display: inline-block;
  min-width: 50px;
  padding-left: 10px;
  padding-right: 10px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
}

.runegraph .runemenubar li:hover {
  background-color: #777;
  color: #eee;
}

.runegraph .runegraph .runemenubar-panel {
  position: absolute;
  top: 5px;
  left: 5px;
  min-width: 100px;
  background-color: #444;
  box-shadow: 0 0 3px black;
  padding: 4px;
  border-bottom: 2px solid #aaf;
  z-index: 10;
}

.runegraph .runemenu-entry,
.runemenu-title {
  font-size: 12px;
  padding: 0 0 0 4px;
  margin: 2px;
  padding-left: 2px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}
.runegraph.runecontextmenu-light .runemenu-entry,
.runegraph.runecontextmenu-light .runemenu-title {
  color: #444;
}
.runegraph.runecontextmenu-dark .runemenu-entry,
.runegraph.runecontextmenu-dark .runemenu-title {
  color: #aaa;
}

.runegraph .runemenu-entry .icon {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 2px;
  vertical-align: top;
}

.runegraph .runemenu-entry.checked .icon {
  background-color: #aaf;
}

.runegraph .runemenu-entry .more {
  float: right;
  padding-right: 5px;
}

.runegraph .runemenu-entry.disabled {
  opacity: 0.5;
  cursor: default;
}

.runegraph .runemenu-entry.separator {
  display: block;
  width: 100%;
  height: 0px;
  margin: 3px 0 2px 0;
  background-color: transparent;
  padding: 0 !important;
  cursor: default !important;
}
.runegraph.runecontextmenu-light .runemenu-entry.separator {
  border-top: 1px solid #bbb;
}
.runegraph.runecontextmenu-dark .runemenu-entry.separator {
  border-bottom: 1px solid #666;
}

.runegraph .runemenu-entry.has_submenu::after {
  float: right;
  content: '>';
}

.runegraph .runemenu-title {
  color: #111;
  margin: 0;
  padding: 4px;
  cursor: default;
}

.runegraph.runecontextmenu-light .runemenu-entry:hover:not(.disabled):not(.separator) {
  color: #888;
  transition: all 0.2s;
}
.runegraph.runecontextmenu-dark .runemenu-entry:hover:not(.disabled):not(.separator) {
  color: #eee;
  transition: all 0.2s;
}

.runegraph .runemenu-entry .property_name {
  display: inline-block;
  text-align: left;
  min-width: 80px;
  min-height: 1.2em;
}

.runegraph .runemenu-entry .property_value {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: right;
  min-width: 80px;
  min-height: 1.2em;
  vertical-align: middle;
  padding-right: 10px;
}

.runegraph.runesearchbox {
  font-family: Tahoma, sans-serif;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 4px;
}

.runegraph.runesearchbox input,
.runegraph.runesearchbox select {
  margin-top: 3px;
  min-width: 60px;
  min-height: 1.5em;
  background-color: black;
  border: 0;
  color: white;
  padding-left: 10px;
  margin-right: 5px;
}

.runegraph.runesearchbox .name {
  display: inline-block;
  min-width: 60px;
  min-height: 1.5em;
  padding-left: 10px;
}

.runegraph.runesearchbox .helper {
  overflow: auto;
  max-height: 200px;
  margin-top: 2px;
}

.runegraph.rune-search-item {
  font-family: Tahoma, sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding-top: 2px;
}

.runegraph.rune-search-item:hover,
.runegraph.rune-search-item.selected {
  cursor: pointer;
  background-color: white;
  color: black;
}

/* DIALOGs ******/

.runegraph .dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -200px;

  background-color: #2A2A2A;

  min-width: 400px;
  min-height: 200px;
  box-shadow: 0 0 4px #111;
  border-radius: 6px;
}

.runegraph .dialog.settings {
  left: 10px;
  top: 10px;
  height: calc(100% - 20px);
  margin: auto;
}

.runegraph .dialog .close {
  float: right;
  margin: 4px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 1.4em;
}

.runegraph .dialog .close:hover {
  color: white;
}

.runegraph .dialog .dialog-header {
  color: #AAA;
  border-bottom: 1px solid #161616;
}

.runegraph .dialog .dialog-header { height: 40px; }
.runegraph .dialog .dialog-footer { height: 50px; padding: 10px; border-top: 1px solid #1a1a1a;}

.runegraph .dialog .dialog-header .dialog-title {
  font: 20px "Arial";
  margin: 4px;
  padding: 4px 10px;
  display: inline-block;
}

.runegraph .dialog .dialog-content {
  height: calc(100% - 90px);
  width: 100%;
  min-height: 100px;
  display: inline-block;
  color: #AAA;
}

.runegraph .dialog .dialog-content h3 {
  margin: 10px;
}

.runegraph .dialog .dialog-content .connections {
  flex-direction: row;
}

.runegraph .dialog .dialog-content .connections .connections_side {
  width: calc(50% - 5px);
  min-height: 100px;
  background-color: black;
  display: flex;
}

.runegraph .dialog .node_type {
  font-size: 1.2em;
  display: block;
  margin: 10px;
}

.runegraph .dialog .node_desc {
  opacity: 0.5;
  display: block;
  margin: 10px;
}

.runegraph .dialog .separator {
  display: block;
  width: calc(100% - 4px);
  height: 1px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #333;
  margin: 10px 2px;
  padding: 0;
}

.runegraph .dialog .property {
  margin-bottom: 2px;
  padding: 4px;
}

.runegraph .dialog .property_name {
  color: #737373;
  display: inline-block;
  text-align: left;
  vertical-align: top;
  width: 120px;
  padding-left: 4px;
  overflow: hidden;
}

.runegraph .dialog .property_value {
  display: inline-block;
  text-align: right;
  color: #AAA;
  background-color: #1A1A1A;
  width: calc(100% - 122px);
  max-height: 300px;
  padding: 4px;
  padding-right: 12px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 3px;
}

.runegraph .dialog .property_value:hover {
  color: white;
}

.runegraph .dialog .property.boolean .property_value {
  padding-right: 30px;
}

.runegraph .dialog .btn {
  border-radius: 4px;
  padding: 4px 20px;
  margin-left: 0px;
  background-color: #060606;
  color: #8e8e8e;
}

.runegraph .dialog .btn:hover {
  background-color: #111;
  color: #FFF;
}

.runegraph .dialog .btn.delete:hover {
  background-color: #F33;
  color: black;
}

.runegraph .subgraph_property {
  padding: 4px;
}

.runegraph .subgraph_property:hover {
  background-color: #333;
}

.runegraph .subgraph_property.extra {
  margin-top: 8px;
}

.runegraph .subgraph_property span.name {
  font-size: 1.3em;
  padding-left: 4px;
}

.runegraph .subgraph_property span.type {
  opacity: 0.5;
  margin-right: 20px;
  padding-left: 4px;
}

.runegraph .subgraph_property span.label {
  display: inline-block;
  width: 60px;
  padding:  0px 10px;
}

.runegraph .subgraph_property input {
  width: 140px;
  color: #999;
  background-color: #1A1A1A;
  border-radius: 4px;
  border: 0;
  margin-right: 10px;
  padding: 4px;
  padding-left: 10px;
}

.runegraph .subgraph_property button {
  background-color: #1c1c1c;
  color: #aaa;
  border: 0;
  border-radius: 2px;
  padding: 4px 10px;
  cursor: pointer;
}

.runegraph .subgraph_property.extra {
  color: #ccc;
}

.runegraph .subgraph_property.extra input {
  background-color: #111;
}

.runegraph .bullet_icon {
  margin-left: 10px;
  border-radius: 10px;
  width: 12px;
  height: 12px;
  background-color: #666;
  display: inline-block;
  margin-top: 2px;
  margin-right: 4px;
  transition: background-color 0.1s ease 0s;
  -moz-transition: background-color 0.1s ease 0s;
}

.runegraph .bullet_icon:hover {
  background-color: #698;
  cursor: pointer;
} 
