<template>
  <ClientOnly>
    <component :is="componentName" />
  </ClientOnly>
</template>

<script>
import "../../../src/styles/main.css";

export default {
  props: {
    componentName: { type: String, required: true },
  },
}
</script>

<style>
.demo-container {
  width: 100%;
}
</style>
